<div>
  <ul class="nav-bar">
    <li>
      <form class="nav-button" action="/teams" >
        <button type="submit" >View Teams</button>
      </form>
    </li>
  </ul>
</div>
<div class="home-page">
  <div class="home-page-image">
    
  </div>
</div>
