<%= javascript_pack_tag 'home_react' %>
<div>
  <ul class="nav-bar">
    <li>
      <form class="nav-button" action="/teams" >
        <button type="submit" >View Teams</button>
      </form>
    </li>
    <li>
      <% if current_user %>
        <h4>Hello <%= current_user.username %> </h4>
        <h4><%= link_to "Logout", logout_path, method: :delete %></h4>
      <% else %>
        <h4>Not a member? Click <%= link_to "Register", new_user_path %> </h4>
      <% end %>
    </li>
  </ul>
</div>
<div class="home-page">
  <div class="home-page-image">
    <h1></h1><br>
    <h1 id="home-mouse-over" onmouseover="mouseOver()"
    onmouseout="mouseOut">超電磁砲 + 炮</h1>
    <script>
      function mouseOver() {
          document.getElementById("home-mouse-over").style.color = "red";
      }
      function mouseOut() {
          document.getElementById("home-mouse-over").style.color = "black";
      }
    </script>
  </div>
</div>
