body {
  background-color: black;
  margin: 0;
}

.home-page {
  position: relative;
  top: 10px;
  border: 2px red dashed;
}

.home-page {
  position: relative;
  top: 10px;
  border: 2px red dashed;
}
