.nav-bar {
  position: fixed;
  justify-content: center;
}
.today-title {
  position: fixed;
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  top: 25px;
}
.schedule {
  position: fixed;
  top: 120px;
  width: 100%;
  padding: 10px;
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
}

.conferences {
  position: relative;
  top: 300px;
  display: flex;
  justify-content: space-around;
  color: white;
}

.western-name {
  text-align: right;
  color: white;
  border: 1px yellow dotted;
  float: left;
  width: 400px;
  padding: 150px 5px 0px 10px;
  justify-content: space-around;
  background-image: url("/cp3.jpg"),
                    url("draymond.jpg"),
                    url("kawhi.jpg"),
                    url("butler.jpg"),
                    url("joker.jpg"),
                    url("dame.jpg"),
                    url("boogie.jpg"),
                    url("gobert.jpg");
}

.western-name &.Mavericks {
  background-image: url("cp3.jpg");
}

.western-name &.Nuggets {

}

.eastern-name {
  text-align: right;
  color: black;
  border: 1px white dotted;
  float: right;
  width: 400px;
  padding: 150px 5px 0px 10px;
  justify-content: space-around;
  background-image: url("/kyrie.jpg"),
                    url("joel.jpg"),
                    url("gor.jpg"),
                    url("bron.jpg"),
                    url("kyle.jpg"),
                    url("g.jpg"),
                    url("victor.jpg"),
                    url("wall.jpg"),
                    url("unicorn.jpg"),
                    url("drummond.jpg");
}

.western-conf {
  text-align: center;
  border: 1px grey dashed;
  float: left;
  width: 400px;
  padding: 10px;
  justify-content: space-around;
  background-color: blue;
}

.eastern-conf {
  text-align: center;
  border: 1px green dashed;
  float: left;
  width: 400px;
  padding: 10px;
  background-color: green;

}
