.hr {
  border-width: 100px;
  color: red;
}

.nav-bar {
  position: fixed;
  justify-content: center;
}
.today-title {
  position: fixed;
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  top: 25px;
}
.schedule {
  position: fixed;
  top: 120px;
  width: 100%;
  padding: 10px;
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
}

.conferences {
  position: relative;
  top: 300px;
  display: flex;
  justify-content: space-around;
  color: white;
}

.western-name {
  text-align: right;
  color: white;
  border: 1px yellow dotted;
  float: left;
  width: 400px;
  padding: 150px 5px 0px 10px;
  justify-content: space-around;
  background-image: url("hou_harden.jpg"),
                    url("min_butler.jpg"),
                    url("hou_cp3.jpg"),
                    url("gsw_draymond.jpg"),
                    url("sas_kawhi.jpg"),
                    url("den_joker.jpg"),
                    url("por_dame.jpg"),
                    url("nop_boogie.jpg"),
                    url("uta_gobert.jpg");
}

.eastern-name {
  text-align: right;
  color: white;
  border: 1px white dotted;
  float: right;
  width: 400px;
  padding: 150px 5px 0px 10px;
  justify-content: space-around;
  background-image: url("mia_gor.jpg"),
                    url("bos_kyrie.jpg"),
                    url("phi_joel.jpg"),
                    url("cle_bron.jpg"),
                    url("tor_kyle.jpg"),
                    url("mil_g.jpg"),
                    url("ind_victor.jpg"),
                    url("was_wall.jpg"),
                    url("nyk_unicorn.jpg"),
                    url("det_drummond.jpg");
}

.western-conf {
  &GSW {
    background-image: url("draymond.jpg");
  };
  text-align: center;
  border: 1px grey dashed;
  float: left;
  width: 400px;
  padding: 10px;
  justify-content: space-around;
  background-color: blue;
}

.eastern-conf {
  text-align: center;
  border: 1px green dashed;
  float: left;
  width: 400px;
  padding: 10px;
  background-color: green;

}

.random-images {
  width: 100px;
  height: 125px;
}
